.intro {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "The Bold Font";
  font-size: 4.5rem;
  word-spacing: 1rem;
  color: $color-secondary;

  @include responsive(phone-port) {
    font-size: 2.5rem;
  }
}

.subheading {
  font-size: 2rem;
  text-align: center;
  color: $color-tertiary;
  @include responsive(phone-port) {
    font-size: 1.5rem;
  }
}

.intro p:first-child {
  text-align: center;
}
